@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Mali:wght@400;500;700&display=swap');

/*
font-family: 'Kalam', cursive;
font-family: 'Mali', cursive;
*/

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --fontT: 'Kalam', cursive;
    --fontP: 'Mali', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background: darkgray;
    font-family: var(--font1);
}

header {
    font-family: var(--fontT);
    background: black;
    color: white;
    text-align: center;
    font-size: 5vw;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 1.5em;
}

header > p {
    padding-bottom: 50px;
    font-size: 0.6em;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 3vw;
}

section > p {
    padding: 10px;
    font-family: var(--fontP);
    line-height: 1.7em;
    
}

section.normal {
    background: white;
}

section.normal > p {
    padding-bottom: 2.5em;
}

section.imagem {
    background-color: rgb(66, 66, 66);
    color: white;
    background-size: cover;
    box-shadow: inset 10px 10px 15px rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.425);
    max-width: max-content;
    text-shadow: 1px 1px black;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}

footer {
    background: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 10px;
}