* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.child {
    height: 200px;
    width: 50%;
    background-color: aquamarine;
    border: 1px solid black;

    text-align: center;
    padding-top: 80px;
}