* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



.container {
    height: 400px;
    display: flex;
    flex-direction: row;
    
    justify-content: flex-end;
    align-items: flex-start;
}

.child {
    width: 10%;
    height: 200px;
    background-color: aquamarine;
    border: 1px solid black;
}